#nav-top {
  background: #baffb3;
}

#nav-brand {
  font-weight: bold;
  font-size: 35px;
  color: #333333;
}

#nav-login-profile {
  color: #333333;
  text-decoration: none;
}

#nav-bottom {
  background: #bae1ff;
  padding: 20px;
}